<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/img/logouteC.png"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../public/css/actualizar.css">
    <title>Adulto Mayor | Actualizar</title>
</head>
<body>   
    <main class="mainActualizar">
        <div class="container">
            <h2>Actualizar Informacion</h2>
            <hr>
            <div class="containerSelect">
                <div class="input-field">
                    <select >
                      <option value="" disabled selected>rol</option>
                      <option value="Facilitador">Facilitador</option>
                      <option value="Co-Facilitador">Co-Facilitador</option>
                      <option value="Voluntario">Voluntario</option>
                      <option value="Adulto">Adulto</option>
                    </select>
                    <label>Seleccione el Rol</label>
                </div>
            </div>
            
            <table id="example" class="display nowrap dataTable dtr-inline collapsed dataTables_info" role="grid" aria-describedby>
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>Apellido P.</th>
                        <th>Apellido M.</th>
                        <th>ci</th>
                        <th>telefono</th>
                        <th>Registro</th>
                        <!-- <th data-class-name="priority">Column 4</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="sorting_1"><img src="../public/img/dan.jpg" alt=""></td>
                        <td>Row 1 Data 2</td>
                        <td>Daniel</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 2</td>
                    </tr>
                    <tr>
                        <td><img src="../public/img/dan.jpg" alt=""></td>
                        <td>Row 1 Data 2</td>
                        <td>Daniel</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 2</td>
                    </tr>
                    <tr>
                        <td><img src="../public/img/dan.jpg" alt=""></td>
                        <td>Row 1 Data 2</td>
                        <td>Daniel</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 2</td>
                    </tr>
                    <tr>
                        <td><img src="../public/img/dan.jpg" alt=""></td>
                        <td>Row 1 Data 2</td>
                        <td>Daniel</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 2</td>
                    </tr>
                    <tr>
                        <td><img src="../public/img/dan.jpg" alt=""></td>
                        <td>Row 1 Data 2</td>
                        <td>Daniel</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 2</td>
                    </tr>
                    <tr>
                        <td><img src="../public/img/dan.jpg" alt=""></td>
                        <td>Row 1 Data 2</td>
                        <td>Daniel</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 2</td>
                    </tr>
                    
                </tbody>
            </table>
            <h3>Datos</h3>
            <hr>
            <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                      <i class="material-icons prefix">account_circle</i>
                      <input id="icon_prefix" type="text" class="validate">
                      <label for="icon_prefix">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                      <i class="material-icons prefix">account_circle</i>
                      <input id="icon_apPaterno" type="text" class="validate">
                      <label for="icon_apPaterno">Apellido Paterno</label>
                    </div>
                    <div class="input-field col s6">
                      <i class="material-icons prefix">account_circle</i>
                      <input id="icon_apMaterno" type="text" class="validate">
                      <label for="icon_apMaterno">Apellido Materno</label>
                    </div>
                    <div class="input-field col s6">
                      <i class="material-icons prefix">contact_mail</i>
                      <input id="icon_email" type="email" class="validate">
                      <label for="icon_email">Email</label>
                    </div>
                    <div class="input-field col s6">
                      <i class="material-icons prefix">phone</i>
                      <input id="icon_telephone" type="number" class="validate">
                      <label for="icon_telephone">Telephone</label>
                    </div>
                    <div class="input-field col s6">
                      <i class="material-icons prefix">featured_video</i>
                      <input id="icon_carnet" type="text" class="validate">
                      <label for="icon_carnet">carnet de indentidad</label>
                    </div>
                    <div class="input-field col s6" style="margin-top: 35px;">
                        <i class="material-icons prefix">assignment_ind</i>
                        <select class="validate">
                          <option value="" disabled selected>Escoge el rol</option>
                          <option value="Facilitador">Facilitador</option>
                          <option value="Co-Facilitador">Co-Facilitador</option>
                          <option value="Voluntario">Voluntario</option>
                          <option value="Adulto">Adulto</option>
                        </select>
                        <label>Rol</label>
                    </div>
                    <div class="input-field col s6" style="margin-top: 35px;">
                        <i class="material-icons prefix">assignment_ind</i>
                        <select id="tipoPersona" class="validate">
                          <option value="" disabled selected>Escoge el tipo de persona</option>
                          <option value="Adulto">Adulto</option>
                          <option value="Voluntario">Voluntario</option>
                        </select>
                        <label>Tipo Persona</label>
                    </div>
                    <div id="containerRegistro" class="input-field col s6" style="margin-top: 35px;display: none;">
                        
                        <i class="material-icons prefix">featured_video</i>
                        <input id="icon_registro" type="text" class="validate">
                        <label for="icon_registro">codigo de registro</label>
                    </div>
                    <div id="containerVoluntario" class="input-field col s6" style="margin-top: 35px; display: none;">
                        <i class="material-icons prefix">assignment_ind</i>
                        <select id="" class="validate">
                          <option value="" disabled selected>Voluntario</option>
                          <option value="1">Administrativo</option>
                          <option value="2">Aux. Administrativo</option>
                          <option value="3">Aux. Beca</option>
                          <option value="4">Beca</option>
                        </select>
                        <label>Voluntario</label>
                    </div>
                    <div class="file-field input-field col s6">
                        <div class="btn">
                          <span>Foto</span>
                          <input type="file" id="filePersona">
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text">
                        </div>
                      </div>
                    <div class="input-field col s6">
                        <figure>
                            <img src="../public/img/modeloFoto.png" id="imgPersona" alt="">

                        </figure>
                      </div>
                  </div>

                  <button class="btn waves-effect waves-light" type="submit" name="action">Registrar</button>
                </form>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#example').DataTable({
                // pageLength: 10,
                scrollY: 400,
                ordering: true,
                select: true,
                responsive: true
                // lengthMenu: [ 10, 25, 50, 75, 100 ]

            });
        } );

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
  
    </script>
</body>
</html>