<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/img/logouteC.png"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../public/css/asistencia.css">
    <title>Adulto Mayor | Asistencia</title>
</head>
<body>   
    <main class="mainAsistencia">
        <div class="container">
            <h2>Asistencia Adulto Mayor</h2>
            <div class="containerSelect">
                <div class="input-field">
                    <select id="labAsis">
                      <option value="" disabled selected>Laboratorio</option>
                      <option value="1">N-221</option>
                      <option value="2">N-401</option>
                      <option value="3">N-402</option>
                      <option value="4">N-503</option>

                    </select>
                    <label>Laboratorio:</label>
                </div>
                <div class="input-field">
                    <select id="horarioAsis">
                      <option value="" disabled selected>Horario</option>
                      <option value="1">9:00 - 11:30</option>
                      <option value="2">14:30 - 17:00</option>             
                    </select>
                    <label>Horario:</label>
                </div>
                <a id="btnBuscarAsis" class="waves-effect waves-light btn-small" style="margin-bottom: 50px;">Buscar</a>
            </div>
                <h4>Facilitadores</h4>
                <div id="containerFacilitadores" class="containerFacilitadores">
                    
                </div>
                <h4>Voluntarios</h4>
                <div class="containerVoluntarios">
                    <div class="card ">
                        <div class="card-content">
                          <div class="techoRojo"></div>
                            <img class="fotoVoluntario" src="../public/img/dan.jpg" alt="">
                          <span class="card-title">Daniel Guillermo </span>
                          <span class="card-title">Gorianz Ferrufino </span>
                          <p></p>
                          <img class="fotoAdulto" src="../public/img/parker.jpg" alt="">
                          <p></p>
                        </div>
                        <div class="card-action">
                          <a class="waves-effect waves-light btn">Entrada</a>
                          <a class="waves-effect waves-light btn">Salida</a>
                          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Detalles</a>
                        </div>
                      </div>
                      <div class="card ">
                        <div class="card-content">
                          <div class="techoRojo"></div>
                            <img class="fotoVoluntario" src="../public/img/dan.jpg" alt="">
                          <span class="card-title">Daniel Guillermo </span>
                          <span class="card-title">Gorianz Ferrufino </span>
                          <p></p>
                          <img class="fotoAdulto" src="../public/img/parker.jpg" alt="">
                          <p></p>
                        </div>
                        <div class="card-action">
                          <a class="waves-effect waves-light btn">Entrada</a>
                          <a class="waves-effect waves-light btn">Salida</a>
                          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Detalles</a>
                        </div>
                      </div>
                      <div class="card ">
                        <div class="card-content">
                          <div class="techoRojo"></div>
                            <img class="fotoVoluntario" src="../public/img/dan.jpg" alt="">
                          <span class="card-title">Daniel Guillermo </span>
                          <span class="card-title">Gorianz Ferrufino </span>
                          <p></p>
                          <img class="fotoAdulto" src="../public/img/parker.jpg" alt="">
                          <p></p>
                        </div>
                        <div class="card-action">
                          <a class="waves-effect waves-light btn">Entrada</a>
                          <a class="waves-effect waves-light btn">Salida</a>
                          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Detalles</a>
                        </div>
                      </div>
                      <div class="card ">
                        <div class="card-content">
                          <div class="techoRojo"></div>
                            <img class="fotoVoluntario" src="../public/img/dan.jpg" alt="">
                          <span class="card-title">Daniel Guillermo </span>
                          <span class="card-title">Gorianz Ferrufino </span>
                          <p></p>
                          <img class="fotoAdulto" src="../public/img/parker.jpg" alt="">
                          <p></p>
                        </div>
                        <div class="card-action">
                          <a class="waves-effect waves-light btn">Entrada</a>
                          <a class="waves-effect waves-light btn">Salida</a>
                          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Detalles</a>
                        </div>
                      </div>
                      <div class="card ">
                        <div class="card-content">
                          <div class="techoRojo"></div>
                            <img class="fotoVoluntario" src="../public/img/dan.jpg" alt="">
                          <span class="card-title">Daniel Guillermo </span>
                          <span class="card-title">Gorianz Ferrufino </span>
                          <p></p>
                          <img class="fotoAdulto" src="../public/img/parker.jpg" alt="">
                          <p></p>
                        </div>
                        <div class="card-action">
                          <a class="waves-effect waves-light btn">Entrada</a>
                          <a class="waves-effect waves-light btn">Salida</a>
                          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Detalles</a>
                        </div>
                      </div>
                      <div class="card ">
                        <div class="card-content">
                          <div class="techoRojo"></div>
                            <img class="fotoVoluntario" src="../public/img/dan.jpg" alt="">
                          <span class="card-title">Daniel Guillermo </span>
                          <span class="card-title">Gorianz Ferrufino </span>
                          <p></p>
                          <img class="fotoAdulto" src="../public/img/parker.jpg" alt="">
                          <p></p>
                        </div>
                        <div class="card-action">
                          <a class="waves-effect waves-light btn">Entrada</a>
                          <a class="waves-effect waves-light btn">Salida</a>
                          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Detalles</a>
                        </div>
                      </div>
                    
                </div>
            
        </div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../public/js/llenarfacilitadores.js"></script>
    <!-- <script src="../public/js/agregarPersona.js"></script> -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });

        document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
   
    </script>
</body>
</html>